/* 
    Document   : firefox_komp
    Created on : 07.06.2013, 19:51:31
    Author     : ralf
    Description:
        Purpose of the stylesheet follows.
*/

p { 
	margin-bottom:0.8em;
	word-spacing: -1pt;
}

